#reset-this-parent {
  all: initial;
  * {
    all: unset;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw; 
  background-color: #d0d0d040;
  
}
.app-wrapper {
  width: 100vw; 
  height: 100vh; 
}


.app-header {
  display: flex; 
  justify-content: left; 
  width: 80%; 
  margin-left: 10%; 
  margin-top: 1%; 
  height: 60px; 
}
.title {
  font-size: 20px; 
  font-weight: 800;
  color: #000000bf; 
  border-bottom: 3px solid #707070; 
  font-family: "Rubik","Arial",sans-serif;  
  height: 55px; 
}
.about {
  width: 80%; 
  margin-left: 10%; 
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.about-title {
  font-size: 18px; 
  color: #000000e0; 
  margin-bottom: 0px;
  font-weight: 700;
  font-family: "Rubik","Arial",sans-serif;  
}
.about-content {
  font-size: 14px; 
  font-weight: 500;
  color: #000000bf;
  font-family: "Rubik","Arial",sans-serif;  
  height: auto;
}

.link {
  text-decoration: none; 
  color: #337AB7;
}

.dropdown-wrapper {
  width: 100%;  
  margin: 0 auto;
  cursor: pointer; 
  display: inline-block; 
}

.dropdown {
  border: 1px solid #707070; 
  border-radius: 10px;
  background-color: #01579B; 
  width: 100%; 
  height: 30px; 
  display: inline-block; 
  position: relative; 
}

.dropdown-text {
  margin: 0px; 
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500; 
  color: white;  
  margin-right: 0px; 
  padding-right: 0px; 
  display: inline-block; 
}
.icon-small {
  width: 20px; 
  height: 15px; 
}
.dropdown-icon { 
  float: right; 
  margin: auto; 
  position: absolute; 
  right: 2%; 
  top: 20%; 
}
.dropdown-content {
  height: auto; 
  width: 362px; 
  max-height: 20%; 
  z-index: 1; 
  background-color: #01579B; 
  overflow-y: auto; 
  position: absolute; 
}
.dropdown-container {
  width: 600px;   
}
.dropdown-list {
  display: block;
  list-style-type: none;
  padding-left: 0px; 
  margin-top: 0px;
  margin-bottom: 0px; 
}

.dropdown-list-item {
  color: white; 
  font-weight: 500; 
  width: 100%; 
  height: 10%; 
  text-indent: 1%;
  font-size: 20px;
  cursor: pointer; 
}

.dropdown-list-item:hover {
  transition: 0.3s; 
  background-color: #0760cc;
}

.term-dropdown-container {
  width: 80%; 
  margin-left: 10%;
  height: 100px;
}

.text-large {
  font-size: 24px; 
  font-weight: 700;
  font-family: "Rubik","Arial",sans-serif;  
  color: #000000bf;
  display: block;
  margin: 0 auto;
}

.dropdown-label {
  font-size: 20px; 
  font-family: "Rubik","Arial",sans-serif;  
  color: #000000bf;
  display: block;
  margin: auto; 
  font-weight: 550;
  width: 100%;  
  padding-bottom: 10px; 
}

.form-label {
  font-size: 20px; 
  font-family: "Rubik","Arial",sans-serif;  
  color: #000000bf;
  display: block;
  font-weight: 550;
  width: 95%;  
} 

.form-label-large {
  font-size: 30px; 
  font-family: "Rubik","Arial",sans-serif;  
  color: #000000bf;
  display: block;
  font-weight: 600;
  width: 95%;  
}

.form-wrapper {
  background-color: white; 
  float: right; 
  width: 90%; 
  height: auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding-bottom: 30px;
  box-shadow: 0px -2px 15px 2px rgba(0, 0, 0, 0.15);
}
.form {
  width: 100%; 
  height: auto; 
  form {
    display: block; 
    width: 80%; 
    margin: auto;
    margin-top: 30px; 
    height: auto; 
  }
}
.form-header {
  display: inline-block; 
  height: 25px; 
  width: 90%; 
  border-bottom: 2px solid #7070704d; 
  margin-left: 10%; 
  font-size: 24px;
  margin-top: 20px; 
}


.input-text {
  border: none; 
  border-bottom: 2px solid #e6e7e8; 
  position: relative; 
  height: 20px;  
  font-family: "Rubik","Arial",sans-serif;
  display: block; 
  display: inline-block; 
  margin: auto; 
  width: 280px;  
  font-size: 20px; 
  padding-top: 10px; 
  background-color: white; 
}

.right-aligned {
  float: right; 
}

.form-content-wrapper {
  position: relative; 
  width: 100%; 
  height: 100%; 
  display: grid;
  grid-template-columns: auto; 
  grid-template-rows: 75px auto; 
  margin-top: 20px; 
}
.open-hours-specification-wrapper {
  width: 100%; 
  height: 100%; 
}
.open-hours {
  position: relative; 
  width: 100%; 
  height: 100%; 
  display: grid;
  grid-template-columns: 360px; 
  grid-template-rows: auto; 
}
.day-checkbox {
  margin-right: 10px; 
}

.add-button {
  width: 365px; 
  height: 64px; 
  background-color:  #01579B; 
  display: flex; 
  align-content: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.add-icon {
  font-size: 32px;
  font-weight: 800;
  margin: 0;  
}
.button-text {
  margin: 0; 
  align-self: center; 
  color: white; 
  padding-bottom: 5px; 
  font-family: "Rubik","Arial",sans-serif;
}
.images-widget-wrapper {
  grid-row-start: 2; 
  justify-self: center; 
  width: 100%; 
  height: auto; 
  display: inline-block; 
}

.image-link {
  list-style: none; 
  list-style-type: none;
  margin-bottom: 30px; 
}

.image-list {
  height: auto; 
  width: auto; 
  margin: 0; 
  margin-bottom: 30px;
  padding: 0; 
}

.faq-widget-wrapper {
  grid-row-start: 2; 
  justify-self: center; 
  width: 100%; 
  height: auto; 
  display: inline-block; 
}

.question-list {
  height: auto; 
  width: auto; 
  margin: 0; 
  margin-bottom: 30px;
  padding: 0; 
}

.questions {
  list-style: none; 
  list-style-type: none;
  margin-bottom: 30px; 
}


.delete-icon {
  display: inline-block;
  position: absolute; 
  left: 6px; 
  font-size: 24px;
  bottom: 2px;
  font-weight: 800;
  color: white;    
  font: normal normal normal 24px/1 "Rubik";
}

.delete-button{
  position: relative; 
  width: 24px; 
  height: 25px;
  background-color: red; 
  float: right;
  cursor: pointer; 
}

.grid-item {
  margin-bottom: 30px;
}
.text-box-wrapper {
  margin-right: 30px; 
}
.inline {
  display: flex; 
  flex-direction: row; 
  justify-content: left;
  width: auto;
  margin: 0 auto;
}
.right-aligned {
  margin-left:auto;
}
.script-container-wrapper {
  display: inline-block; 
  width: 600px; 
  height: 600px; 
  margin-top: 80px; 
  margin-right: 50px; 
  position: relative; 
}
.script-image {
  margin-left: 80px; 
}
.divider {
  margin: 15px; 
}
.section-grid {
  display: grid;
  grid-template-columns: auto; 
  grid-template-rows: 75px auto;
}
.contact-section {
  margin-bottom: 30px;
}
.section-label {
  font-size: 26px; 
  font-family: "Rubik","Arial",sans-serif;  
  color: #000000bf;
  display: inline-block;
  font-weight: 550;
  width: auto;  
  height: 30px; 
  margin-top: 25px;  
}
.line-break {
  width: auto; 
  height: 2px; 
  background-color: #e6e7e8; 
}
.scrollable-check-boxes {
  width: auto; 
  height: 200px; 
  overflow-y: scroll; 
}
.scrollable-options-list {
  list-style-type: none; 
  padding-left: 0; 

}
.list-check-boxes {
  margin-top: 10px; 
}
.relative-position {
   position: relative; 
   width: auto; 
   height: auto; 
}
@media only screen and (min-width: 500px) {
  .dropdown-container {
    width: 360px; 
  }
  .term-dropdown-container {
    width: 362px; 
  }
}

@media only screen and (min-width: 920px) {
  .form-content-wrapper {
    width: 663px; 
  }
}

@media only screen and (min-width: 1200px) {
  .form-header {
    width: 980px; 
  }
  .form {
    width: 828px; 
    margin-right: 0px; 
    width: 560px; 
    display: inline-block;
  }
  .form-wrapper {
    width: 85%; 
    float: none; 
    margin-left: 10%; 
    display: flex; 
    flex-direction: row; 
  }
  .form-content-wrapper {
    width: 500px;
    grid-template-columns: 500px; 
  }
}
